{% extends 'base.html' %}

{%block content%}
<div>
    <h2>Top 50 Longest Games</h2>
  
    <table>
        <thead>
            <tr>
                <th>Moves ID</th>
                <th>Turns</th>
                <th>White Player</th>
                <th>Black Player</th>
                <th>Observer</th>
            </tr>
        </thead>
        <tbody>
            {% for row in top50_games %}
                <tr>
                    <td>
                      <a href="/moves/{{ row.id_game }}">{{ row.id_game }}</a>
                    </td>
                    <td>{{ row.turns }}</td>
                    <td><a href="/players/{{row.white_id}}"> {{ row.white_id }}</a></td>
                    <td><a href = "/players/{{row.black_id}}"> {{ row.black_id }}</a></td>
                    <td><a href = "/observers/{{row.id_Observer}}"> {{ row.Name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>


{%endblock%}