{% extends 'base.html' %}
{% block content %}
<h1> <b>ID Game: </b>{{ game.id_game }}</h1>
<p>
  <b>id_game: </b>{{ game.id_game }}
</p>
<p>
  <b>Rated: </b>{{ game.rated }}
</p>
<p>
  <b>Victory Status: </b>{{ game.victory_status }}
</p>
<p>
  <b>Winner: </b>{{ game.winner }} 
</p>
<p>
    <b>Increment Code: </b>{{ game.increment_code }}
</p>
<p>
    <b> White ID: <a href="/players/{{ game.white_id }}">{{ game.white_id }}</a></b> 
</p>
<p>
    <b>Black_id: <a href="/players/{{ game.black_id }}">{{ game.black_id }}</a></b>
</p>

<p>
  <h2> Played By: </h2>
</p>
<p>
  <b> White: <a href="/players/{{ game.white_id }}">{{ game.white_id }}</a></b> 
</p>
<p>  
  <b>Black: <a href="/players/{{ game.black_id }}">{{ game.black_id }}</a></b>
</p>

<p>
  <h2><b> Who watched this game: </b></h2>
<ul>
  {% for o in observers %}
  <li>
    <a href="/observers/{{ o.id_Observer }}">{{ o.Name }}</a>
  </li>
  {% endfor %}
</ul>
</p>
{%endblock %}