{% extends 'base.html' %}
{% block content %}
<h1>Moves</h1>
<table>
    <tr>
      <th>
        <b>Id</b>
      </th>
      <th>
        <b>Moves</b>
      </th>
      <th>
        <b>Turns</b>
      </th>
      <th>
        <b>Opening_Name</b>
      </th>
      <th>
        <b>Opening_Ply</b>
      </th>  
  </tr>

  {% for moves in moves %}
  <tr>
    <td>
      <a href="/moves/{{ moves.id_game }}">{{ moves.id_game }}</a>
    </td>
    <td>
      {{ moves.moves }}
    </td>
    <td>
      {{ moves.turns}}
    </td>
    <td>
      {{ moves.opening_name }}
    </td>
    <td>
      {{ moves.opening_ply }}
    </td>
    <td>
  </tr>
  {% endfor %}
</table>
{% endblock %}