{% extends 'base.html' %}
{% block content %}
<h1>Observers</h1>
<table>
  <tr>
    <th>
      <b>ID</b>
    </th>
    <th>
      <b>Name</b>
    </th> 
    <th>
      <b>Fan of</b>
    </th> 
</tr>

  {% for observers in observers %}
  <tr>
    <td>
      <a href="/observers/{{ observers.id_Observer }}">{{ observers.id_Observer }}</a>
    </td>
    <td>
      {{ observers.Name }}
    </td>
    <td>
      <a href = "/players/{{observers.id_Player }}"> {{ observers.id_Player }}</a> 
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}